header {
  min-height: 13vh;
  line-height: 10vh;
}

header ul li a {
  transition: 0.5s;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}

a:active {
  color: #6070ff;
}

.shubh {
  padding-right: 32%;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -22px;
}

.logo-wrap {
  margin-top: 14px;
}

.headerlinks {
  cursor: pointer;
}

.navlink {
  padding-bottom: 10px;
}

header .container {
  padding-top: 10px;
}

header ul li {
  margin-left: 30px;
}

header ul li a:hover {
  color: #6070ff;
}

.home-btn {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  /* height: fit-content; */
  color: #6070ff;
  background: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #fff;
}

.logo {
  width: 160px;
  height: 40px;
}

.home-btn:hover {
  background-color: #6070ff;
  color: white;
}

.open {
  display: none;
}

.header.active {
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ecf0f3;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

@media (max-width: 768px) {
  header ul {
    padding-top: 30px;
  }

  .logo-wrap {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 60%;
    height: 100vh;
    background-color: white;
    z-index: 888;
  }

  header ul li {
    width: 100%;
    transition: 0.5s;
    text-transform: uppercase;
    line-height: 70px;
  }

  header .link {
    display: none;
  }

  .close,
  .open {
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
    color: #6070ff;
    font-size: 25px;
    z-index: 999;
  }

  .close {
    right: 45%;
  }

  .close.home-btn {
    background: linear-gradient(145deg, #e2e8ec, #fff);
    color: #6070ff;
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 60px;
  }

  .header.active {
    height: 10vh;
    position: relative;
  }
}

.demo {
  height: 200vh;
}

/* ***************************Photo animation with CSS [Start] ********************* */

.circle-5 .sq-1 {
  top: -5%;
  right: 0;
  transition: max-height 0.4s ease-out;
}

.circle-5 .sq-2 {
  top: -5%;
  left: 0;
  transition: max-height 0.4s linear;
}

.sq {
  position: absolute;
  width: 50%;
  height: 120%;
  max-height: 0;
  background: #6070ff;
}

.outer-circle:hover .sq {
  max-height: 130%;
}

.inner-circle img {
  width: 90px;
  background-size: cover;
}

.inner-circle {
  width: 75px;
  height: 75px;
  border: 3px solid #fff;
  box-shadow: 0 0 3px 2px #dddada inset;
  z-index: 1;
  overflow: hidden;
}

.outer-circle {
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 4px rgb(77, 77, 77, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
